*.vcxproj
*.vcxproj.*
*.sln
*.vcproj
*.vcproj.**
*.log
*.htm
*.vsidx
*.VC.*
*.pdb
*.idb
*.obj
*.lock
*.ipch
*.tlog
*.premake5
*.lib
*.recipe
*.exe
*.ilk
*.suo
*.pch
*.sln
*.user
bin/
bin-int/